.container{
	display: flex;
    height: 100vh;
}
.username-form{
	align-self: center;
    width: 100%;
    text-align: center;
}
.username-form input{
	display: inline-block;
    line-height: 30px;
    padding: 5px 12px;
    border: none;
    background-color: #e9e9e9;
    border-radius: 4px;
    font-weight: bold;
    box-sizing: border-box;
    height: 40px;
}
.username-form button{
	display: inline-block;
    height: 40px;
    padding: 5px 12px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.username-form button:hover{
	background-color:black;
	color:white;
}
