<!doctype html>
<html>
  <head>
    <title>Chat Login</title>
     <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  	
	<div id="registerbox" class="username-form">	
		<a href="#" id="closelb">close</a>
  		<form action="/register" method="post">
			<input id="rusername" type="text" placeholder="Enter Username" name="uname" required>
			<input type="password" name="passwd" placeholder="Your Password" required>
			<button type="submit">Registrieren</button>
		</form>   
	</div>
  	
  	<form action="/chatroom.html" method="post">
    	<div class="container" >
    		<div class="username-form">
    			<label><%= error %></label>
    			<input id="username" type="text" placeholder="Enter Username" name="uname" required>
    			<input type="password" name="passwd" placeholder="Your Password" required>
    			<button type="submit">Login</button> 
    			<a class="register-link" href="#">registrieren</a>  			
    		</div>
  		</div> 
  	</form>  	
  	<div class="heading">
  		<h1>Welcome to the chat</h1>
  	</div> 
  	
  	<script>
  		$( document ).ready(function() {
  			
  			$( "#closelb" ).click(function() {
				$('#registerbox').removeClass('show');
			});
  			
  			$( ".register-link" ).click(function() {
				$('#registerbox').addClass('show');
			});
  			
		});
  	</script>
  	
  	
  </body>
</html>
