<!doctype html>
<html>
  <head>
    <title>Chat Login</title>
     <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
     <script src="/socket.io/socket.io.js"></script>
     <link rel="stylesheet" href="css/style.css">
    <script src="/siofu/client.js"></script>
  </head>
  <body>
  	
	<div id="registerbox" class="username-form">	
		<a href="#" id="closelb">close</a>
  		<form action="/register" method="post">
			<input id="rusername" type="text" placeholder="Enter Username" name="uname" required>
			<input type="password" name="passwd" placeholder="Your Password" required>
			<input type="file" id="input-file" />
			<input type="hidden" id="avatar" name="avatar" />
			<div id="image-preview"></div>
			<button type="submit">Registrieren</button>
		</form>   
	</div>
  	
  	<form action="/chatroom.html" method="post">
    	<div class="container" >
    		<div class="username-form">
    			<label><%= error %></label>
    			<input id="username" type="text" placeholder="Enter Username" name="uname" required>
    			<input type="password" name="passwd" placeholder="Your Password" required>
    			<button type="submit">Login</button> 
    			<a class="register-link" href="#">registrieren</a>  			
    		</div>
  		</div> 
  	</form>  	
  	<div class="heading">
  		<h1>Welcome to the chat</h1>
  	</div> 
  	
  	<script>
  		$( document ).ready(function() {
  			
  			$( "#closelb" ).click(function() {
				$('#registerbox').removeClass('show');
			});
  			
  			$( ".register-link" ).click(function() {
				$('#registerbox').addClass('show');
			});
			
			
			var socket = io.connect();
		    var uploader = new SocketIOFileUpload(socket);
		
		    // uploader listener on button press
		    uploader.listenOnInput(document.getElementById("input-file"));
		   
		    
		    // upload progress
		    uploader.addEventListener("progress", function(event){
		        var percent = event.bytesLoaded / event.file.size * 100;
		        console.log("File is", percent.toFixed(2), "percent loaded");
		    });
		
		    // file upload complete
		    uploader.addEventListener("complete", function(event){
		        console.log(event.success);
		        console.log(event.file);
		        $("#avatar").val(event.file.name);
		        
		        visionRecognision(event.file.name);
		    });
		    
		    function visionRecognision(file){
		    	console.log(file);
		    	$.ajax({
		          type: "POST",
				  url: "https://gateway-a.watsonplatform.net/visual-recognition/api/v3/detect_faces?api_key=abd64dee35146daed4a61354d162e98def85e4de&version=2016-05-20",
				  data: "https://chataplication.eu-de.mybluemix.net/files=@mini.jpg",
				  dataType: "json"
				}).done(function(data) {
					console.log("done");
					console.log(data);
				});
				
	
				
		    }
					
					
		    // upload listener on upload start
		    uploader.addEventListener("start", function(event){  	
		    	event.file.meta.hello = "avatar";
		    });
			
			
			// check media type and display in message box
			socket.on('media',function(data){
			
				var message = "";
				
				if (data.link.match(/.+\.(jpg|png|jpeg|bmp|gif)$/i))
				{
					message	+= '<img src="' + data.link + '">';
				} 
				else
				{
					message += "wrong format, please updload an image!";
				}
				
				$('#image-preview').html(message);
		
			});
  			
		});
  	</script>
  	
  	
  </body>
</html>
