<!doctype html>
<html>
  <head>
    <title>Chat Login</title>
     <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  	
  	<form action="/chatroom.html" method="post">
    	<div class="container" >
    		<div class="username-form">
    				<label><%= error %></label>
    			<input id="username" type="text" placeholder="Enter Username" name="uname" required>
    			<button type="submit">Login</button>   			
    		</div>
  		</div> 
  	</form>  	
  	<div class="heading">
  		<h1>Welcome to our cloud chat</h1>
  	</div> 
  </body>
</html>
